<div class="container">
<div id ="quiwn"class="container-fluid bg-1 text-center">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="imagenLogin" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a (click)='iniciarSesion()'>Iniciar Sesion Como: {{nombreUsuario}}</a></h5>
          <p><a (click)='otraCuenta()'>Iniciar con Otra Cuenta</a></p>
        <!-- <p class="card-text">Soy alumno de la Universidad Tecnológica Nacional, Facultad Regional de Avellaneda</p> -->
      </div>
    </div>
  </div>
</div>