<div class="contenido">
 
    <app-menu-nav></app-menu-nav>
    <app-banner>
      
    </app-banner>
    <!-- <div *ngIf="!ocultarPorRegistro">
        <app-login *ngIf="!esUsuarioLogueado && !esInicioConFoto"
        [mailUsuario]="mailUsuarioCatche"
        (onSeleccionRegistro)="seleccionoRegistrar()"
        (onLoginUsuario)="tomarUsuarioLogueado($event)">
    </app-login>  -->
        
        <!-- <app-login-foto *ngIf="!esUsuarioLogueado && esInicioConFoto"
        (iniciarSesionConUsuario)="tomarUsuarioMail($event)"></app-login-foto>    -->
    </div>
    
