<app-menu-nav></app-menu-nav>

<div class="row">
    <app-tabla-pacientes *ngIf="mostrarListaPacientes">
    </app-tabla-pacientes>
    <app-tabla-profesionales *ngIf="mostrarListaProfesionales">
    </app-tabla-profesionales>
    <app-tabla-turnos *ngIf="mostrarListaTurnos"
    [listaTurnos]="listTurnosPaciente"
    (turnoSeleccionado)="tomarTurnoParaDetalle($event)">
    </app-tabla-turnos>
     <!-- Sidebar -->
 <div class="bg-light border-right" id="sidebar-wrapper">    
    <app-detalle-turnos [turnoSeleccionado]="turnoParaDetalle"></app-detalle-turnos>
  </div>
</div>

