<!-- <div class="contenido" *ngIf="!ingresando">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto contenidoPrincipal">
        <div class="card card-signin my-5"> -->
          <div class="card-body">
            <h4 class="card-title text-center">Iniciar Sesion</h4>
           
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" [(ngModel)]="usuario.mail" id="inputEmail"  class="form-control" placeholder="Email" name="usuario" required autofocus>              
              </div>
              <div class="form-label-group">
                <input type="password" [(ngModel)]="usuario.clave" id="inputPassword" class="form-control" name="clave" placeholder="Clave" required>
              </div>
  
              <!-- <div class="custom-control custom-checkbox mb-3">
                <input  type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Recordarme</label>
              </div> -->

                <re-captcha *ngIf="captchaHabilitado"
                  (resolved)="resolved($event)"
                  siteKey="6LeajQAVAAAAAJCtwsllAMR7H8hCno2G1IqABN9b"
                ></re-captcha>
                
              <div class="registro">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!recaptcha"  (click)="LoginUsuario()" >Ingresar</button>
                <button class="btn btn-lg btn-default btn-block text-uppercase btndefault" (click)="deshabilitarCaptcha()" >Deshabilitar Captcha</button>
                <button class="btn btn-lg btn-secondary btn-block text-uppercase" (click)="Registrarme()">Registrarme</button>
              </div>
              <!-- <div class="invitadosPanel">
                <button class="btn btn-warning btnInvitado" (click)="LoginInvitado('paciente')">Paciente 1</button>
                <button class="btn btn-warning btnInvitado" (click)="LoginInvitado('paciente2')">Paciente 2</button>
                <button class="btn btn-warning btnInvitado" (click)="LoginInvitado('profesional')">Profesional 1</button>
                <button class="btn btn-warning btnInvitado" (click)="LoginInvitado('profesional-pendiente')">Profesional Pend</button>
                <button class="btn btn-warning btnInvitado" (click)="LoginInvitado('admin')">Admin</button>
              </div> -->
              <div class="invitadosPanel">                                                                
                <!-- <mat-form-field> -->
                  <label>Usuarios</label>
                  <select name="especialidades" (change)="LoginInvitado($event)" class="form-control">
                    <option value="paciente" >Paciente 1</option>
                    <option value="paciente2" >Paciente 2</option>
                    <option value="profesional" >Profesional 1</option>
                    <option value="profesional2" >Profesional 2</option>
                    <option value="profesional-pendiente" >Profesional Pend.</option>
                    <option value="admin" >Admin</option>
                  </select>
                <!-- </mat-form-field>                     -->
        </div>   
              <hr class="my-4">
              <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google mr-2"></i>Ingresar con Google</button> -->
            </form>
          </div>
        <!-- </div>
      </div>
    </div>
  </div> -->
  <div class="spinner-border text-primary" role="status" *ngIf="ingresando">
    <span class="sr-only">Loading...</span>
  </div>
  