    <div class="menuPrincipal" *ngIf="usuarioMenu && usuarioMenu.activo">
      <button mat-button (click)="inicio()" ><i class="fa fa-home"></i>   </button>
      <button mat-button *ngIf="usuarioMenu.roll==0" (click)="solicitarTurno()">Solicitar Turno </button>
      <button mat-button  *ngIf="usuarioMenu.roll==0" (click)="listadoTurnos()">Consultar Turnos</button>
      <button mat-button *ngIf="usuarioMenu.roll==1" (click)="atenderTurnos()">Atender</button>
      <button mat-button *ngIf="usuarioMenu.roll==2" (click)="listadoUsuarios()">Listado Usuarios</button>
      <!-- <button mat-button *ngIf="usuarioMenu.roll==2" (click)="RegistroAdmin()">Registrar Admin</button> -->
      <button mat-button *ngIf="usuarioMenu.roll==2" (click)="listarReportes()" >Listar Reportes</button>
      <button mat-button *ngIf="usuarioMenu.roll==2" (click)="pendientes()" >Pendiente Aprob.</button>
      <button mat-button *ngIf="esUsuaioLogueado"(click)="salir()"><strong>Log Out</strong></button>
  </div>
  <div class="menuPrincipal" *ngIf="usuarioMenu && !usuarioMenu.activo">
    <button mat-button>Su solicitud esta pendiente de Aprobacion</button>
    <button mat-button *ngIf="esUsuaioLogueado"(click)="salir()"><strong>Log Out</strong></button>
  </div>
