<div class="d-flex" id="wrapper">
   
<div id="page-content-wrapper" class="container-fluid">

<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                Profesional
            </th>
            <th>
                Esp.
             </th>
            <th>
                Fecha
            </th>
            <th>
                Paciente
            </th>
            <th>
                Estado
            </th>
            <th>
                Centro
            </th>
           
            <th>
                Obs
            </th>
        </tr>
    </thead>
    <tbody *ngIf="listaTurnos">
        <tr *ngFor="let turno of listaTurnos" (click)="onTurnoSeleccionado(turno)">
            <td >{{turno.especialista}}</td>
            <td>{{turno.especialidad}}</td>
            <td>{{turno.fecha}}</td>
            <td>{{turno.paciente}}</td>
            <td>{{turno.estado}}</td>           
            <td>{{turno.centro}}</td>    
            <td>{{turno.observaciones | truncateTextoLargo}}</td>   
        </tr>
    </tbody>
</table>
</div>
