    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap </div>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
      </div>
      <div id="page-content-wrapper">
<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                Especialista
            </th>
            <th>
                Fecha
            </th>
            <th>
                Paciente
            </th>
            <th>
                Estado
            </th>
            <th>
                Centro
            </th>
            <th>
                Observaciones
            </th>
        </tr>
    </thead>
    <tbody *ngIf="listaTurnos">
        <tr *ngFor="let turno of listaTurnos" (click)="onTurnoSeleccionada(turno)">
            <td >{{turno.especialista}}</td>
            <td>{{turno.paciente}}</td>
            <td>{{turno.fecha}}</td>
            <td>{{turno.estado}}</td>
            <td>{{turno.centro}}</td>          
        </tr>
    </tbody>
</table>
</div>