

.contenido {
    background-image:url('/assets/imagenes/fondo-registro.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-bottom: 250px;
  }
  .btnRegistro{
    margin-top: 25px;
    margin-bottom: 25px;
  }
.foto{
  margin-top: 35px;
  margin-bottom: 50px;
  border: 0.5px solid lightgrey;
  border-radius: 10px;
}

.resgistroProfesional{
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
}

.foto label{
  margin-top: 20px;
}
.foto input{
  margin-bottom: 20px;
}
  .progress{
    margin-top: 25px;
  }

  .form-check{
    display: flex;
    margin-top: 8px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .sexo label{
    margin-left: 10px;
  }
  .sexo{
    border: 0.5px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  
  #inputEmail{
    padding: 5px;
  }
  
  #inputPassword{
    padding: 5px;
  }
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }