<div class="contenido">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto contenidoPrincipal">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Registro</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" [(ngModel)]="usuario.mail"  class="form-control" placeholder="Email" name="usuario" required autofocus>              
              </div>
              <div class="form-label-group">
                <input type="nombre" [(ngModel)]="usuario.nombre"  class="form-control" placeholder="Nombre" name="usuario" required autofocus>              
              </div>
              <div class="form-label-group">
                <input type="apellido" [(ngModel)]="usuario.apellido" class="form-control" placeholder="Apellido" name="usuario" required autofocus>              
              </div>
              <div class="form-group">
                <!-- <label for="">Fecha Nacimiento</label> -->
                <div class="input-group">
                  <input class="form-control" placeholder="Fecha de Nacimiento"
                         name="dp" 
                         [(ngModel)]="usuario.fecha_nacimiento" 
                         ngbDatepicker #d="ngbDatepicker"
                         name="fecha">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button"><i class="fa fa-angle-down"></i></button>
                  </div>
                </div>
              </div>
              <div class="sexo">
              <label for="">Sexo</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioSexo" [(ngModel)]="usuario.sexo" value="M" checked>
                <label class="form-check-label" >
                  Masculino
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioSexo"   [(ngModel)]="usuario.sexo"  value="F">
                <label class="form-check-label" >
                  Femenino
                </label>
              </div>
            </div>
              <div class="form-label-group">
                <input type="password" [(ngModel)]="usuario.clave"  class="form-control" name="clave" placeholder="Clave" required>
              </div>
              <div class="form-label-group">
                <input type="password" [(ngModel)]="confimarcionClave"  class="form-control" name="confirmClave" placeholder="Confirmar Clave" required>
              </div>              
              <div class="foto">
                <label for="">Adjuntar una foto</label>
                <input type="file" (change)="loadFoto($event)">
                <p class="help-block"></p>
              </div>   
              <hr class="my-4">
              <div class="resgistroProfesional">
                <app-registro-profesional 
                (onCargarEspecialidad)="tomarEspecialidad($event)"
                (onCargarJornada)="tomarJornada($event)"></app-registro-profesional>
              </div>   
              <button class="btn btn-lg btn-secondary btn-block btnRegistro"(click)="Registrarme()" >Enviar Solicitud</button>
              
              <div class="spinner-border text-primary" role="status" *ngIf="registrando">
                <span class="sr-only">Loading...</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  