<div class="container">        
                <div class="row row-space">                        
                        <div class="input-group">                            
                                <select class="form-control" >
                                    <option disabled="disabled" selected="selected">ESPECILIDAD</option>
                                    <option>Odontologo</option>
                                    <option>Clinica Medica</option>
                                    <option>Pediatria</option>
                                </select>                           
                        </div>   
                        <div class="input-group">                            
                          <select class="form-control" >
                              <option disabled="disabled" selected="selected">CENTRO</option>
                              <option>Belgrano</option>
                              <option>Barracas</option>
                              <option>Avellaneda</option>
                          </select>                           
                  </div> 
                  <div class="row">
                    <div class="col">
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Dias</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                          <div class="px-4 py-3">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                               Lunes
                              </label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                                Martes
                              </label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                                Miercoles
                              </label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                                Jueves
                              </label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                                Viernes
                              </label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                                Sabado
                              </label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                                Domingo
                              </label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                                Todos
                              </label>
                            </div>
                          </div>
                          <div class="dropdown-divider"></div>
                        </div>
                      </div>
                    </div>
                  </div>              
                </div>       
              <hr class="my-4">        
  </div>
  