<app-menu-nav
[usuarioMenu]="usuarioLogueado">
</app-menu-nav>

  <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Solicitar Turno</h2>
                <form method="POST">
                    <!-- <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="NAME" name="name">
                    </div> -->
                    <div class="row row-space">                                               
                                    <select class="form-control" [(ngModel)]="profesionalSeleccionado" name="profesional">                                        
                                        <option *ngFor="let profesional of listaProfesionales" (click)="tomarProfesional(profesional)" >{{profesional.nombre + profesional.apellido}}</option>                                
                                    </select>
                                                          
                    </div>            
                                <select class="form-control">
                                
                                    <option  *ngFor="let especialidad of especialidades.especialidad" selected="selected">{{especialidad}}</option>                                                                  
                                
                                </select>
                                <select class="form-control">
                                    
                                    <option  *ngFor="let centro of centros.localidad" selected="selected">{{centro}}</option>                                                                  
                                
                                </select>           
                    <div class="col-2">
                        <div class="input-group">
                            <input ngbDatepicker #d="ngbDatepicker" class="input--style-1" type="text" placeholder="FECHA" name="birthday">
                            <!-- <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                            <i class="fas fa-calendar-alt input-icon js-btn-calendar" (click)="d.toggle()"></i>
                        </div>
                    </div>          
                    <div class="p-t-20">
                        <button class="btn btn--radius btn--green" type="submit">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- This templates was made by Colorlib (https://colorlib.com) -->