<app-menu-nav
[usuarioMenu]="usuarioLogueado">
</app-menu-nav>

  <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Solicitar Turno</h2>
                <form>                                             
                                <mat-form-field>
                                    <mat-label>Especialidad</mat-label>
                                    <mat-select  (selectionChange)="onChangeEspecialidad($event.value)" [(ngModel)]="turno.especialidad" name="especialidad">
                                      <mat-option *ngFor="let especialidad of listaEspecialidades" [value]="especialidad">{{especialidad}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field>
                                    <mat-label>Profesional</mat-label>
                                    <mat-select  (selectionChange)="onProfesionalSeleccionado($event)" [(ngModel)]="objProfesionalSeleccionado" name="apellido">
                                      <mat-option *ngFor="let profesional of listaProfesionales" [value]="profesional">{{profesional.apellido}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field>
                                    <mat-label>Dias</mat-label>
                                    <mat-select [formControl]="toppings" multiple (selectionChange)="onDiaSeleccionado($event)">
                                      <mat-option *ngFor="let dia of listaDiasDeSemana" [value]="dia" >{{dia | diasSemana}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                
                                <div class="fecha"><span>Fecha</span></div>                                      
                      <ngb-datepicker [dayTemplate]="customDay" [markDisabled]="IsDisabled" [(ngModel)]="turno.fecha" name="fecha" >
                          <ng-template  #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
                              <span  class="custom-day" [class.diaLaborable]="esDiaLaborable(date)" [class.focused]="focused"
                              [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled"                              
                              [class.day-disabled]="disabled">
                              {{ date.day }}
                            </span>
                        </ng-template>
                    </ngb-datepicker>
                    <div class="fecha"><span>Nota: 1- Los dias pintados en naranja son los disponibles.
                                             Debe seleccionar un profesional (En el boton de cada fila)
                                             Para ver sus dias y horarios.
                                             2 - Debe seleccionar un profesional de la tabla para que aparezcan
                                             sus dias en el calendario.              
                    </span></div>    
                    <mat-form-field>
                      <mat-label>Horario</mat-label>
                      <mat-select [(ngModel)]="turno.hora" name="horario">
                        <mat-option *ngFor="let horario of listaHorarios" [value]="horario">{{horario}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <hr>
                    <!-- Tabla -->
                    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >              
                        <ng-container matColumnDef="nombre">
                          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                        </ng-container>
                      
                        <ng-container matColumnDef="apellido">
                          <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
                        </ng-container>
                      
                        <ng-container matColumnDef="sexo">
                          <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.sexo}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="especialidad">
                          <mat-header-cell *matHeaderCellDef> Especialidad </mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.especialidad}} </mat-cell>
                        </ng-container>

                        <!-- <ng-container matColumnDef="foto">
                          <mat-header-cell *matHeaderCellDef> Foto </mat-header-cell>
                          <mat-cell *matCellDef="let element"><img [src]="element.foto"> </mat-cell>
                        </ng-container> -->
                      
                        <ng-container matColumnDef="seleccion">
                            <mat-header-cell *matHeaderCellDef> Seleccionar </mat-header-cell>
                            <mat-cell  *matCellDef="let element"><button mat-button ><i class="fa fa-angle-left"></i></button> </mat-cell>
                          </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="rowSelected($event,row)"></mat-row>
                      </mat-table>  
                      <div class="turnoLabel">
                        <h4>Detalle del Turno</h4>
                        <p>Usted esta solicitando turno con: <strong>{{objProfesionalSeleccionado? objProfesionalSeleccionado.apellido : "-"}}</strong></p>
                        <p>Dia: <input type="label" class="fechaInput" ngbDatepicker [(ngModel)]="turno.fecha" name="fecha"/></p>
                        <p>Hora: <strong>{{turno.hora}}</strong></p>                       
                        <p>Epecialidad: <strong>{{turno.especialidad}}</strong></p>
                      </div>
                    <div class="p-t-20">
                        <button class="btn btn--radius btn--green" type="submit" (click)="SubmitTurno()">Solicitar Turno</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- This templates was made by Colorlib (https://colorlib.com) -->