
<app-menu-nav></app-menu-nav>

<div class="row">
    <div id="containerCanvas1" class="col-md-6">
        <canvas id="barCanvasSemanal">
        {{chart}}
    </canvas>
    </div>
 
    <!-- <canvas id="pieCanvasSemanal" class="col-md-6" height="400vh" width="500vw" >
        {{chartPie}}
    </canvas> -->
</div> 

<!-- <div class="row">
    <canvas id="barCanvasMedTurnos" class="col-md-6" height="400vh" width="500vw" >
        {{chartBar2}}
    </canvas>
</div> -->
<button mat-raised-button color="primary" class="botonPDF" (click)="onExportPDF()" >Descargar PDF</button>
