
<app-menu-nav></app-menu-nav>

<div class="row">
    <!-- <h2>Cant Turnos por Dia</h2> -->
        <canvas id="barCanvasSemanal" class="col-md-6" height="400vh" width="500vw" >
        {{chart}}
    </canvas>
 
    <canvas id="pieCanvasSemanal" class="col-md-6" height="400vh" width="500vw" >
        {{chartPie}}
    </canvas>
</div> 

<div class="row">
    <canvas id="barCanvasMedTurnos" class="col-md-6" height="400vh" width="500vw" >
        {{chartBar2}}
    </canvas>
</div>
<button mat-raised-button color="primary" (click)="onExportPDF()" >Descargar PDF</button>
