.estado{
    background-color: green;
   }
   .operaciones{
       margin-top: 30px;
   }
   .aceptar{
       margin-top: 30px;
   }
  
   img{
       width: 100%;
       height: 250px;
   }
   #extras input{
       margin-left: 20px;
   }
   .spanAdicional{
       text-align: center;
       font-weight: bold;
       margin-top: 20px;
   }
   #extras{
       margin-top: 50px;
   }
   .encuesta{
       margin-top: 20px;
       width: 100%;
   }